<!-- Task Modal -->
<div class="modal fade" id="taskModal<%= task._id %>" tabindex="-1" aria-labelledby="taskModalLabel<%= task._id %>"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskModalLabel<%= task._id %>">Task Details - <%= task.title %>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Description:</strong>
                    <%= task.description %>
                </p>
                <p><strong>Status:</strong>
                    <%= task.status %>
                </p>
                <p><strong>Priority:</strong>
                    <%= task.priority %>
                </p>
                <p><strong>Assigned To:</strong>
                    <%= task.assignedTo ? task.assignedTo.name : 'Unassigned' %>
                </p>
                <p><strong>Due Date:</strong>
                    <%= task.dueDate ? task.dueDate.toDateString() : 'No due date' %>
                </p>
            </div>
            <div class="modal-footer">
                <button id="edit-task-btn" class="btn btn-secondary edit-task-btn" data-bs-toggle="modal"
                    data-bs-target="#editTaskModal<%= task._id %>">
                    <ion-icon name="create"></ion-icon> Edit
                </button>
                <form action="/users/<%=user._id%>/projects/<%= project._id %>/tasks/<%= task._id %>?_method=DELETE"
                    method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>